main {
    background-color: #edededed;

}

.detalhes-produto {
    display: flex;
    /* gap: 20px; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #0000003f;
    margin: 30px;
    background-color: white;
    
}

.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.6;
}

.imgContainer img {
    width: 70%;


}

.descricao-produto-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    border: solid 1px #00000028;
    border-radius: 6px;
    flex: 1;
    

}

.descricao-produto-container ul li{
    list-style:disc;
    opacity: 0.8;
    font-weight: 400;

}

.descricao-produto-container h2 {
    text-align: center;
    font-size: 22px;
    
    font-weight: 400;
}

.descricao-produto-container h3{
    font-size: 20px;
    font-weight: 400;

}

.voltarBtnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
}

.voltarBtn {
    width: 30%;
}

@media screen and (max-width: 921px) {

    
    .detalhes-produto {
        display: flex;
        flex-direction: column;
       /* width: 85%; */
    }

    .imgContainer img{
        width: 100%;
    }

}